body{
  background: linear-gradient(to left, #7A7FBA, #11C37C);
}
input{
padding: 30px;
border: 2px solid #f5f5f4;
background-color:#f5f5f4;
margin: 10px 0 10px 40px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 40px;
}

.flex-container > div {
  background-color: #f0fdfa;
  width: 95px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.casio{
  background: linear-gradient(#e66465, #9198e5);
  display: inline-block;
  height: 600px;
  margin-top: 50px;
  margin-left: 35%;
  width: 500px;
  position: relative;
  padding-top: 25px;
}
.history>h1{
  position: absolute;
  top: 5%;
  left: 20px;
  color:#fde047;
}
.historyMath{
  position: absolute;
  top: 15%;
  left: 20px;
}
.historyMath>li{
  font-size: 30px;
  color: white;
  list-style-type: none;
}


